@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins','sans-sarif';
}
body{
    min-height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #dad3f8;

}
.container{
    max-width: 950px;
    width:100%;
    background-color: #fff;
    padding:40px 50px 40px 40px;
    border-radius: 12px;
    margin:0px 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.container .main-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;

}
.container .content{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.container .content .list{
    display:flex;
    flex-direction: column;
    position: relative;
    width:20%;  
    margin-right: 50px;
}
.content .list label{
    height:60px;
    font-size: 22px;
    font-weight: 500;
    /* width:20%; */
    border-radius: 12px;
    line-height: 60px;
    /* margin:5px 0px; */
    padding-left: 25px;
    color : #333;
    /* background-color: aquamarine; */
    cursor:pointer;
    z-index: 12;
    transition:all 0.4s ease;
}
.content .list label:hover{
    color:#6d50e2;
}
#home:checked ~ .list .home,
#help:checked ~ .list .help,
#blog:checked ~ .list .blog,
#code:checked ~ .list .code,
#About:checked ~ .list .About{
    color:#fff;
}
.indicator {
    height:60px;
    width:100%;
    top:0;
    left:0;
    position:absolute;
    background-color: #6d50e2;
    border-radius: 12px;
    transition:all 0.4s ease;
}
#home:checked ~ .list .indicator{
    top:0;
}
#help:checked ~  .list .indicator{
    top:60px;
}
#blog:checked ~  .list .indicator{
    top:120px;
}
#code:checked ~  .list .indicator{
    top:180px;
}
#About:checked ~  .list .indicator{
    top:240px;
}
.container input[type="radio"]{
    display:none;
}
.container .content .text-content{
    width:80%;
    height:100%;
}
.content .text-content .text{
    display:none;
}
.content .text-content .home{
    display:block;
}
#home:checked ~ .text-content .home,
#help:checked ~ .text-content .help,
#blog:checked ~ .text-content .blog,
#code:checked ~ .text-content .code,
#About:checked ~ .text-content .About{
    display: block;
}

#help:checked ~ .text-content .home,
#blog:checked ~ .text-content .home,
#code:checked ~ .text-content .home,
#About:checked ~ .text-content .home{
    display: none;
}
.content .text-content .title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.content .text-content p{
    text-align: justify;
}